@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";
@plugin "daisyui";

.hind-siliguri {
  font-family: "Hind Siliguri", sans-serif;
}
.google-sans {
  font-family: "Google Sans", sans-serif;
}
.titillium-web {
  font-family: "Titillium Web", sans-serif;
}

body {
  font-family: "Google Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
}
